/* Error: Top-level selectors may not contain the parent selector "&".
 *   ,
 * 6 |     &
 *   |     ^
 *   '
 *   src\sass\modules\home\_header.scss 6:5  @import
 *   src\sass\_allModules.scss 2:9           @import
 *   src\sass\app.scss 3:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a   \2577 \a 6 \2502      &\d\a   \2502      ^\a   \2575 \a   src\\sass\\modules\\home\\_header.scss 6:5  @import\a   src\\sass\\_allModules.scss 2:9           @import\a   src\\sass\\app.scss 3:9                   root stylesheet';
}
