.footer{
    width: 99vw;
    height: 100vh;
}
.footer-top{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #464646;
}
.footer-input{
        width: 700px;
        position: relative;
        padding-top: 10px;
    }
.footer-input:hover button{
    background-color:#e96b56 ;  
    border-color: #e96b56;
}
.input:focus{
    outline: none;
    border-color: #e96b56;
    color: aliceblue;
    padding-left: 20px;
}
.footer-input input{
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border-color: rgba(128, 128, 128, 0.011);
    background-color: #565656;
}
.footer-input button{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #fd7e14;
    color: rgb(255, 255, 255);
    position: absolute;
    right:0px;
}
.footer-top p{
    color: #ffffffe1;
    width: 550px;
    text-align-last:center ;
}
.footer-top h2{
    color:white ;
    padding-bottom: 10px;
}
.footer-bottom{
    width: 100%;
    height: 70%;
    background-color:#3C3C3C;
}