.logo{
    color: $white-color;
    
}

.links a  {
    color: $white-color;
    &:hover{
        color: $red-color!important;
    }
}
.dropdown-menu a{
    color: $black-list;
}
.nav-link{
    color: $white-color;
}
.hero  {

    background-image: url(../../public/images/profile/profile-bg-5.webp);
    background-size: cover;

}
.hero h1{
    color: $white-color;
    text-decoration: center;
}
.icons i {
    
    color: $white-color;
    background-color: $gray-color;
    &:hover{
        color: $red-color;
    }

}
.container-about h1 {
    color:$red-color;

}
.container-about {
    background-color: $gray-degre;
}
h4{
    color: $red-color;
    padding-bottom: 1rem ;
    border-bottom: 1px $red-color solid;
}
.container-about p {
    color: $para-color;
}

